PORT=4000

DATABASE_URL="postgresql://<<USERNAME>>:<<PASSWORD>>@localhost:5432/language_crm"


ACCESS_TOKEN_KEY=MyVeryStrongACCESSTOKENSecretKey3qrwt
ACCESS_TOKEN_TIME="15h"
REFRESH_TOKEN_KEY=MyVeryStrongREFRESHTOKENSecretKey3qrwt
REFRESH_TOKEN_TIME="15d"
COOKIE_TIME=1296000000

ADMIN_ACCESS_TOKEN_KEY=ThiIsADMINAccessTokenSecretKey
ADMIN_ACCESS_TOKEN_TIME="15h"
ADMIN_REFRESH_TOKEN_KEY=ThiIsADMINRefreshTokenSecretKey
ADMIN_REFRESH_TOKEN_TIME="15d"
ADMIN_COOKIE_TIME=1296000000

BOT_TOKEN=YOUR_BOT_TOKEN


GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_SECRET=YOUR_GOOGLE_SECRET
GOOGLE_CALLBACK_URL=YOUR_GOOGLE_CALLBACK_URL

FRONTEND_URL=YOUR_FRONTEND_URL


SMS_TOKEN=YOUR_SMS_TOKEN
SMS_SERVICE_URL=YOUR_SMS_SERVICE_URL
SMS_TEMPLATE=YOUR_OTP_TEMPLATE
